@keyframes AnimateDarkBackgroundRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes AnimateDarkBackgroundRightExit {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes AnimateDarkBackgroundLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes AnimateDarkBackgroundLeftExit {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes AnimateMenu {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
.makeAnimateDarkBackgroundCome[dir="rtl"] {
  animation: AnimateDarkBackgroundRight 500ms;
}

.makeAnimateDarkBackgroundCome[dir="ltr"] {
  animation: AnimateDarkBackgroundLeft 500ms;
}

.makeAnimateDarkBackgroundExit[dir="rtl"] {
  animation: AnimateDarkBackgroundRightExit 500ms;
}

.makeAnimateDarkBackgroundExit[dir="ltr"] {
  animation: AnimateDarkBackgroundLeftExit 500ms;
}

.makeAnimateMenu {
  animation: AnimateMenu 500ms;
  animation-delay: 500ms;
}
